.cor1{
    color: lightyellow;
    background: darkolivegreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cor2{
    color: darkolivegreen;
    background: lightyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


